#SurveyEngineBody {
  background-image: url("https://skopos.qualtrics.com/ControlPanel/Graphic.php?IM=IM_577vtClFrIANDFQ") !important ;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  .QuestionOuter {
    max-width: 686px;
    padding: 0 20px;
  }

  .speechBubble {
    width: 100%;
  }

  .topSpeechBubble {
    background-color: transparent;
    background-image: url("https://skopos.qualtrics.com/ControlPanel/Graphic.php?IM=IM_7POEgfXAi6JW51A");
    background-repeat: no-repeat;
    height: 65px;
  }

  .centerSpeechBubble {
    background-color: transparent;
    background-image: url("https://skopos.qualtrics.com/ControlPanel/Graphic.php?IM=IM_bBCo642NsUfhULc");
    background-repeat: no-repeat;
    background-repeat: repeat-y;
  }

  .bottomSpeechBubble {
    background-color: transparent;
    background-image: url("https://skopos.qualtrics.com/ControlPanel/Graphic.php?IM=IM_bNKwHRsTu06AlzE");
    background-repeat: no-repeat;
    height: 150px;
  }
}
